<h1>Application Settings</h1>

<div class="flex flex-col h-2/3">
  <div class="lex-grow overflow-auto shadow rounded-md">
    <table class="relative w-full">

      <thead>
        <tr>
          <th scope="col" class="audit-th">Location</th>
          <th scope="col" class="audit-th">Content</th>
          <th scope="col" class="audit-th">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @announcements.each do |announcement| %>
          <tr class="border-b border-gray-100">
            <td class="audit-td border-r-2 border-dotted"><%= announcement.location %></td>
            <td class="audit-td text-left"><%= announcement.content %></td>
            <td class="audit-td">
              <ul>
                <li class= "action-link"><%= link_to 'Show', announcement %></li>
                <li class= "action-link"><%= link_to 'Edit', edit_announcement_path(announcement) %></li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
