<p>
  <span class="font-bold"><%= "Location: #{@announcement.location.gsub('_', ' ').upcase}" %></span>
</p>

<div>
  <strong>Content:</strong>
  <div class= "shadow p-2"><%= @announcement.content %></div>
</div>

<div class="mt-2">
  <%= link_to 'Edit', edit_announcement_path(@announcement), class: "action-link p-2" %> |
  <%= link_to 'Back', announcements_path, class: "action-link p-2" %>
</div>
