/ This example requires Tailwind CSS v2.0+
.z-0.relative.w-full
  .relative.z-10.bg-white{"data-dropdown-active-target" => '#filtersTarget'}

    %div
      -# .mt-0
        %input#building-name{class: "building-name", :name => "building-name", :placeholder => "Undergraduate Sciences Building", :type => "text"}



    .filters-button-group
      / Item active: "text-gray-900", Item inactive: "text-gray-500"
      %button.filters-button{ "data-action" => "click->dropdown#toggle click@window->dropdown#hide", :role => "button", "onclick" => "return false"}
        %span Filters
        /
          Heroicon name: chevron-down
          Item active: "text-gray-600", Item inactive: "text-gray-400"
        %svg.ml-2.h-5.w-5.text-gray-400.group-hover:text-gray-500{"aria-hidden" => "true", :fill => "currentColor", :viewbox => "0 0 20 20", :xmlns => "http://www.w3.org/2000/svg"}
          %path{"clip-rule" => "evenodd", :d => "M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z", "fill-rule" => "evenodd"}


    .filters-dropdown#filtersTarget{
      data: {"dropdown-target" => "menu-open",
              "dropdown-invisible-class" => "opacity-0 -translate-y-1 scale-95",
              "dropdown-visible-class" => "opacity-100  -translate-y-0",
              "dropdown-entering-class" => "transition ease-out duration-200",
              "dropdown-leaving-class" => "transition ease-in duration-150"}
      }
      %div.filters-inner{"aria-hidden" => "true"}
        .bg-white{:class => "w-1/2"}
        .bg-gray-50{:class => "w-1/2"}

      .relative{class: "max-w-7xl mx-auto grid grid-cols-1 lg:grid-cols-2"}
        %nav{class: "bg-gray-50 px-4 py-2 sm:py-8 md:py-12 sm:px-6 lg:px-8 xl:pl-12", "aria-labelledby" => "characteristicsHeading"}
          %h2#characteristicsHeading.sr-only Room Characteristic checkboxes

          = render './search/capacity_college'

        -# Secondary

        %div{class: "grid  px-4  bg-white sm:grid-cols-2 sm:gap-x-8  sm:px-6 lg:px-8 lg:py-12 xl:pr-12"}
          = render './search/room_characteristics'

        .view-all-link
          %a{class: "", :href => "#"}
            View all classrooms
            %span{"aria-hidden" => "true"} →
        = submit_tag "Submit", "data-autosubmit-target" => "form"