%h1.text-gray-700 About the MiClassrooms application.
.mt-4.font-light.text-xl.text-blue-800.grid.grid-rows-3.gap-y-0
  %p
    The
    = link_to "MiClassrooms website",  about_url
    was developed by the
    = link_to "College of Literature, Science & the Arts Technology Services", about_lsats_url
    group to provide information about classrooms in the academic units at the University of Michigan.

  %p.-mt-4.sm:mt-none.md:pt-2
    This application includes information about installed audio-visual technology, connectivity, room capacity and other characteristics. This data reflects the room attributes in M-Pathways and the Space Survey. In addition, the
    = link_to "MiClassrooms rooms website",  about_url
    site provides photographs, 3D panoramas, maps and contact information specific to each room.

%h2.text-2xl.-mt-36.text-gray-700.pt-4.sm:pt-14.lg:pt-24
  Web Site Support
.mt-4.font-light.text-xl.text-blue-800
  %p
    Support for this web site is provided by LSA Technology Services. To report an issue, please contact us via telephone (734) 615-0100 or visit us at
    %span.font-medium.inline= link_to "https://lsa.umich.edu/technology-services/", "https://lsa.umich.edu/technology-services/", target: "_blank"

