<div class="container mb-20">

  <h1> About The MiClassrooms application.</h1>

  <p>
    The application was developed by the
    <%= link_to "College of Literature, Science & the Arts Technology Services", 'https://lsa.umich.edu/technology-services/', class: 'pl-1 text-blue-800 hover:underline', target: "_blank" %>
    group to provide information about classrooms in the academic units at the University of Michigan.
  </p>
  <br>
  <p>
    This application includes information about installed audio-visual technology, connectivity, room capacity and other characteristics. 
    This data reflects the room attributes in M-Pathways and the Space Survey. In addition, the
    site provides photographs, 3D panoramas, maps and contact information specific to each room.
  </p>
  <br>
  <p>
    As a general rule, the registrar's office manages the schedule for university classrooms. 
    Schools, colleges, and departments may have their own procedures. Faculty are encouraged to work through their departmental administrative 
    staff to reserve rooms. 
    <br><br>
    Registered student organizations should reserve rooms through Student Organization Accounts Service (SOAS) 
    <%= link_to "Reservation", 'https://reservations.studentorgs.umich.edu/', class: 'pl-1 text-blue-800 hover:underline', target: "_blank" %>.
    <br><br>
    More information is available in the
    <%= link_to "Guidebook", 'https://soas.umich.edu/student-org-soas-guidebook', class: 'pl-1 text-blue-800 hover:underline', target: "_blank" %> for student organizations.
  </p>

</div>
