/ Sale and testimonials
.relative.overflow-hidden.-mx-10.-mt-6
  / Decorative background image and gradient
  .absolute.inset-0{"aria-hidden" => "true"}
    .absolute.inset-0.max-w-7xl.mx-auto.overflow-hidden.xl:px-8
      -# %img.w-full.h-full.object-center.object-cover{alt: "", src: "https://tailwindui.com/img/ecommerce-images/home-page-02-sale-full-width.jpg"}/
      .w-full.h-full.object-center.object-cover= link_to image_tag(asset_path('cube.jpg', class: "h-5/6"), alt: "#{(t :sitename)} Logo, link to home page.", id: root_path(anchor: 'page-bottom')), root_path
    .absolute.inset-0.bg-white.bg-opacity-25
    .absolute.inset-0.bg-gradient-to-t.from-white.via-white
  / Sale
  %section.relative.max-w-7xl.mx-auto.px-20.pt-32.px-4.flex.flex-col.items-center.text-center.sm:px-6.lg:px-8{"aria-labelledby" => "sale-heading"}
    .max-w-2xl.mx-auto.lg:max-w-none
      %h2#sale-heading.text-4xl.font-extrabold.tracking-tight.text-gray-900.sm:text-5xl.lg:text-6xl
        Makes finding the right room easy!
      %p.mt-4.max-w-xl.md:max-w-3xl.mx-auto.text-xl.text-gray-600 
        Whether an instructor searching for a classroom with the technologies to meet their pedegogy, or a student trying to find their way to class, MiClassrooms has you back. MiClassrooms provides an intuitive accessible interface to find the room you are looking for. 
      =link_to rooms_path do 
        .mt-10.inline-block.w-full.bg-gray-900.border.border-transparent.rounded-md.py-3.px-8.font-medium.text-white.hover:bg-gray-800.sm:w-auto.mb-10.sm:mb-0{href: "#"} Find your room!
  
/ Collection section
%section.max-w-xl.mx-auto.px-4.sm:pt-12.sm:px-6.lg:max-w-7xl.lg:px-8{"aria-labelledby" => "collection-heading"}
  -# %h2#collection-heading.text-2xl.font-extrabold.tracking-tight.text-gray-900 Shop by Collection
  
  .space-y-4.lg:space-y-0.lg:grid.lg:grid-cols-3.lg:gap-x-8
    .group.block
      =link_to buildings_path do
        .aspect-w-3.aspect-h-1.rounded-lg.overflow-hidden.group-hover:opacity-75.lg:aspect-w-5.lg:aspect-h-6{"aria-hidden" => "true"}
          %img.w-full.h-full.object-center.object-cover{alt: "Brown leather key ring with brass metal loops and rivets on wood table.", src: "https://tailwindui.com/img/ecommerce-images/home-page-01-collection-01.jpg"}
        %h3.mt-4.text-base.font-semibold.text-gray-900 Search for Buildings
        %p.mt-2.text-sm.text-gray-500 Each building has quick information about the classrooms inathat building as well as floor map information. 
    =link_to rooms_path do
      .aspect-w-3.aspect-h-1.rounded-lg.overflow-hidden.group-hover:opacity-75.lg:aspect-w-5.lg:aspect-h-6{"aria-hidden" => "true"}
        %img.w-full.h-full.object-center.object-cover{alt: "Natural leather mouse pad on white desk next to porcelain mug and keyboard.", src: "https://tailwindui.com/img/ecommerce-images/home-page-01-collection-02.jpg"}/
      %h3.mt-4.text-base.font-semibold.text-gray-900 Search for Classrooms
      %p.mt-2.text-sm.text-gray-500 Easily filter classrooms based on campus, student capacity, school or college, and what technology is needed to facilitate your lesson. MiClassrooms let's you check a room's schedule via the registrar's office, see a 360 degree panorama of the room, information about the capabilities of the room, seating charts, as well as where the building is located.        
    %a.group.block{href: "#"}
      .aspect-w-3.aspect-h-1.rounded-lg.overflow-hidden.group-hover:opacity-75.lg:aspect-w-5.lg:aspect-h-6{"aria-hidden" => "true"}
        %img.w-full.h-full.object-center.object-cover{alt: "Person placing task list card into walnut card holder next to felt carrying case on leather desk pad.", src: "https://tailwindui.com/img/ecommerce-images/home-page-01-collection-03.jpg"}/
      %h3.mt-4.text-base.font-semibold.text-gray-900 Seach by School or College
      %p.mt-2.text-sm.text-gray-500 A quick jump off point to start your search. See all of the classrooms, across multiple buildings belonging to a School or College.
