<div class="container mb-20">

  <h1>Room Filters Glossary</h1>

  <div class="">
    <div class="">
      <table class="border-collapse border border-gray-400">

        <thead>
          <tr>
            <th scope="col" class="border border-gray-400 text-left p-2">Room Filter</th>
            <th scope="col" class="border border-gray-400 text-left p-2">Definition</th>
          </tr>
        </thead>

        <tbody>
          <% @filters.each do |filter| %>
            <tr class="border-black">
              <td class="border border-gray-400 p-2"><%= filter[0] %></td>
              <td class="border border-gray-400 p-2"><%= filter[1] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
