@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"
@import 'trix/dist/trix.css'
@import '../../assets/stylesheets/application.css'

.modal-backdrop
  z-index: -1 !important
// You Forgot The Alt Message
body[data-environment="development"]
  img[alt=""], img:not([alt])
    @apply border-4 border-red-700 border-dotted p-2

.profile-dropdown
  @apply absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-blue-50 ring-1 ring-black ring-opacity-5 divide-y divide-blue-300 z-50

h1
  @apply text-3xl mb-2

h2
  @apply text-2xl mb-2 ml-2

h3
  @apply text-xl mb-2 ml-2 underline

.row-even
  @apply bg-gray-50
  @screen sm
    @apply bg-blue-50

.row-odd
  @apply bg-gray-50

.svg
  @apply h-4 w-4
.icon
  @apply inline-block
  svg
    @apply w-5 h-5 fill-current pr-1
  @screen md
    svg
      @apply h-6 w-6
.debug_dump
  @apply bg-blue-100 border-4 border-red-800 rounded-lg p-4 text-sm font-mono text-blue-900 mx-auto my-4 max-w-2xl w-auto

// /*! debug.css | MIT License | https://gist.github.com/zaydek/6b2e55258734deabbd2b4a284321d6f6 */
// // To use add a {:debug => ""} to any element you want to understand better
// [debug], [debug] *:not(g):not(path)
// 	color:hsla(210, 100%, 100%, 0.9) !important
// 	background: hsla(210, 100%,  50%, 0.5) !important
// 	outline: solid 0.25rem hsla(210, 100%, 100%, 0.5) !important
// 	box-shadow: none !important
// 	filter:     none !important

// trix editor

trix-editor 
  &.form-control
    height: auto
.trix-button-group--file-tools
  display: none !important

.trix-content
  ol
    list-style: auto
  ul
    list-style: disc

  a
    @apply text-blue-600 underline

.static-page-text
  @apply p-10

.capacity-error--display
  @apply block

.capacity-error--hide
  @apply hidden

.page
  @apply p-2
.current
  @apply px-4

ol
  list-style: none

/* the switch toggle was influenced by https://codepen.io/tutsplus/pen/qBOjjvO */

.switches
  [type="checkbox"]
    position: absolute
    left: -9999px

  max-width: 150px
  width: 95%
  margin: 20px auto 0
  border-radius: 5px
  color: white
  background: RoyalBlue

  li
    position: relative
    counter-increment: switchCounter

    &:not(:last-child)
      border-bottom: 1px solid gray

  .label-text
    padding-right: 2px

  label
    cursor: pointer
    display: flex
    align-items: center
    justify-content: space-between
    padding: 8px 10px 8px 10px

  span:last-child
    position: relative
    width: 50px
    height: 22px
    border-radius: 15px
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4)
    background: gray
    transition: all 0.3s

    &::before, &::after
      content: ""
      position: absolute

    &::before
      left: 1px
      top: 1px
      width: 20px
      height: 20px
      background: white
      border-radius: 50%
      z-index: 1
      transition: transform 0.3s

    &::after
      top: 50%
      right: 8px
      width: 12px
      height: 12px
      transform: translateY(-50%)
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg)
      background-size: 12px 12px

  [type="checkbox"]:checked + label span:last-child
    background: green

    &::before
      transform: translateX(24px)

    &::after
      width: 14px
      height: 14px
      left: 8px
      background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg)
      background-size: 14px 14px

@media screen and (max-width: 600px)
  .switches li::before
    display: none

.checkbox-filter
  [type="checkbox"], label
    cursor: pointer

.skip-to-content-link
  @apply sr-only font-bold text-2xl text-white focus:not-sr-only focus:bg-green-700 relative self-center flex justify-center  focus:p-5 focus:underline
