#buildingListing.mb-10
  .flex.flex-col
    .-my-2.overflow-x-auto.sm:-mx-6.lg:-mx-8
      .py-2.align-middle.inline-block.min-w-full.sm:px-6.lg:px-8
        .shadow.overflow-hidden.border-b.border-gray-200.sm:rounded-lg
          %table.min-w-full.divide-y.divide-gray-200.max-w-5xl
            %thead.bg-gray-50
              %tbody.bg-white.divide-y.divide-gray-200
                - @buildings.each do |building|
                  = render 'building_row', building: building

  = render partial: "partials/pagination", locals: { pagy: @pagy }

