%li.classroom-row-dropdown-feature{data: {"tippy-content" => "#{characteristic.chrstc_desc254}"}}
  .flex-shrink-0
    .icon.text-black= svg("#{room_characteristic_icon(characteristic)}")
  %p.ml-1.text-base.truncate
    = characteristic.characteristic_label