<li class="classroom-row-dropdown-feature" data-tippy-content="<%= characteristic.chrstc_desc254 %>">
  <div class="flex-shrink-0">
    <div class="icon text-black"><%= svg("#{room_characteristic_icon(characteristic)}") %></div>
  </div>
  <p class="ml-1 text-base truncate"><%= characteristic.characteristic_label %></p>
</li>
