%div
  .bg-green-300 
    HI
  = link_to room_panorama(@room), target: "_blank" do
    .h-layout.h-highlight-item
      = svg("sync-alt-solid")
      %span.pr-1 view 360
      = svg("external-link-alt-solid")
