<div class="room-show-image">
<% if @room.room_panorama.attached? %>
  <div id="panorama"
    data-controller="pannellum"
    data-pannellum-panoimage=<%= "#{url_for(@room.room_panorama)}" %>
    data-pannellum-panopreview=<%= "#{url_for(@room.room_panorama.variant(resize_to_limit: [480, 240]).processed)}" %>
    aria-hidden="true" focusable="false">
  </div>
<% else %>
  <%= room_image(@room) %>
<% end %>
</div>
