
/ Mobile menu button
%button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.hover:text-gray-500.hover:bg-gray-100.focus:outline-none.focus:ring-2.focus:ring-inset.focus:ring-indigo-500{"aria-controls" => "mobile-menu", "aria-expanded" => "false", type: "button"}
  %span.sr-only Open main menu
  /
    Icon when menu is closed.
    Heroicon name: outline/menu
    Menu open: "hidden", Menu closed: "block"
  %svg.block.h-6.w-6{"aria-hidden" => "true", fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
    %path{d: "M4 6h16M4 12h16M4 18h16", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
    /
      Icon when menu is open.
      Heroicon name: outline/x
      Menu open: "block", Menu closed: "hidden"
  %svg.hidden.h-6.w-6{"aria-hidden" => "true", fill: "none", stroke: "currentColor", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
    %path{d: "M6 18L18 6M6 6l12 12", "stroke-linecap" => "round", "stroke-linejoin" => "round", "stroke-width" => "2"}
       


